body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 65px 0px 30px 0px;
  border-bottom: 5px solid #222222;
  border-top: 5px solid #222222;
/*  padding: 50px;*/
  background: #5858FA;

}

a {
  font-weight: bold;
  color: #05080C;
  text-decoration: none;
}

small {
  color: #05080C;
}

strong {
/*  color: #030609;*/
  font-style: italic;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #030609;
  margin-top: 0px;
  font-family: 'poiret one';
  font-size:80px;
}

h2 {
/*  color: #030609;*/
  font-family: 'open sans';
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  color: #030609;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 42px;
}

h4 {
  font-weight: normal;
  margin-bottom: 0;
/*  color: #05080C;*/
  font-family: 'open sans';
  font-size: 25px;
}

p {
  font-family: Georgia, serif;
  margin-top: 0;
  margin-bottom: 0;
  /*margin-bottom: 27px;*/
/*  color: #05080C;*/
}

ul {
  list-style: square;
  padding: 0;
}

/*ul p {
  color: #05080C;
}*/

nav li {
  color: #05080C;
  display: inline-block;
  margin-top: 0px;
  padding: 0 35px;
}

section{
  min-height: 400px;
  padding: 15px;
}
*{
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

img {
  /*float: right;*/
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  height: 200px;
}

img {
  float: right;
}

nav {
  color: #222222;
  text-align: center;
  background: #f06c64;
  position: fixed;
  opacity: 0.9;
  top:0;
  right: 0;
  width: 100%;
  font-family: 'open sans';
  font-weight: 700;
  text-transform: uppercase;
}

#scrollToTop{
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 60px;
  background: #ff4568;
  border-radius: 50%;
  display: none;
  font-style: bold;
  font-family: 'amatic sc';
}

#me{
  float: right;
  border-radius: 50%;
}

#about{
  background: url('images/mountains.jpeg') no-repeat;
  background-size: cover;

}

#experience{
  background: url('images/nyc_bw.jpg') no-repeat;
  background-size: cover;

}

#portfolio{
  background-attachment: fixed;
  background-image: url('images/footer.png');
  background-size: cover;
  color: white;
}

li{
  list-style-type: none;
}
footer{ 
text-align: center;
padding:0 90px;

}
.fa:hover{
  color: red;
}
section#education{
  min-height: 200px;
}

.clearfix{
  overflow: auto;
}